footer {
    background-color: #333;
    color: #5570ea;
    padding: 5px;
    text-align: center;
    margin-top: 35vh; /* Simplemente 35 porque a partir de 30 ya se queda siempre abajo */
  }

.elBoton{
    width: 100%;
    background: #1899f5;
    padding: 15px;
    color:whitesmoke;
    margin-top: 18px;
    font-size: 15px;
    cursor: pointer; /* Para cambiar el cursor al pasar */
}

main {
    margin: 7px 0px;
    width: 100%;
    color: #fff;
}
.s1{
    background: linear-gradient(to right, rgb(0, 204, 255), rgb(52, 4, 124));
    border: 2px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 500px;
}
#j1 {
    border-radius: 10px;
    transition: 1.33s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

#j2 {
    border-radius: 10px;
    transition: 1.33s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}