*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
   

.elBoton{
        width: 100%;
        background: #d79417;
        padding: 15px;
        color:whitesmoke;
        margin-top: 18px;
        font-size: 15px;
        cursor: pointer; /* Para cambiar el cursor al pasar */
    }
    .paraColores {
        width: 50%;
        background: #249ca5;
        padding: 12px;
        border-radius: 5px;
        margin-bottom: 15px;
        font-size: 18px;
        color: white;
    }

    .cita {
        box-sizing: border-box;
        width: 100%;
        max-width: 20px;
        padding: 30px;
        background: rgb(55, 82, 236);
        border-radius: 10px;
        box-shadow: 10px 2px;
        margin-left: 150px;
    }